<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/default :: header" />
<body>
    <div th:replace="common/default :: navbar"> </div>
    <h1 style="margin-top: 10px" >Trang chủ nhân viên</h1>

    <div class="row justify-content-sm-center d-flex">
        <img src="http://hanoimoi.com.vn/Uploads/tuandiep/2018/4/8/1(1).jpg" class="img-fluid" alt="Responsive image">
    </div>


    <div th:replace="common/default :: body-scripts"> </div>
</body>
</html>